<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Only specify feed for Arcade SDK (see https://github.com/Microsoft/msbuild/issues/2982) -->
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/mrploch/index.json"/>
    </packageSources>
    <disabledPackageSources/>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="kploch"/>
            <add key="ClearTextPassword" value="%MRPLOCH_GITHUB_PACKAGES_TOKEN%"/>
        </github>
    </packageSourceCredentials>
</configuration>
